<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="<%= 'nav-link' if current_page?(root_path) %>"><%= link_to "Meine App", root_path %></li>
    </ul>
    <form class="form-inline">
      <li>
        <div class="navbar-text"><%= current_user_email %></div>
      </li>
      <button type="button" class="btn btn-primary" data-toggle="modal"data-target="#new-question-modal">
        Ask Question
      </button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">